// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$orange: #bd5d38;
$blue: #3258a8;
$sarah: #09337d;

// Override Bootstrap default state colors

$primary: $sarah;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
